#page-top { background-color: #00ff00;  background: url("../img/01.jpg") repeat-y fixed top center; background-size: 100%;}
section {display: block}

header {background-color: #B24912; display: block}
header .dropdown { color: white; text-align: right; padding: 7px; position:relative; z-index: 10000}
header .dropdown img {width: 22px; height: 15px; border: 1px solid white}
header .dropdown i.caret{color: white}

.navbar-chocolate { border-radius: 0; margin-bottom: 0; width: 100%;
	border: 0; border-left: 0; border-right: 0; min-height: 30px; height: 64px;
	background-color: #B24912;}

.navbar-chocolate .navbar-brand {position: relative;  top: -40px; height: 64px; }
.navbar-chocolate .navbar-brand img { display: block; width: 215px; height: 88px}
.navbar-chocolate .navbar-brand img:hover {background-color: darkred; transition: 2s}

.navbar-chocolate ul.navbar-nav { border-top: solid white 1px; }
.navbar-chocolate ul.navbar-nav>li {background-color: #B24912;}
.navbar-chocolate ul.navbar-nav>li>a  { font-size: medium; color: white;
	padding-top:15px; padding-bottom: 8px; margin-bottom: 2px; font-family: "Times New Roman"}
.navbar-chocolate ul.navbar-nav>li>a:hover, .navbar-chocolate ul.navbar-nav>li>a:focus  {background: transparent;}
/* красивыйй эффект при наведении на сылку */
.navbar-chocolate ul.navbar-nav>li>a:after {display: block; content: ""; height: 2px; width: 0%; background-color: white; transition: width .3s ease-in-out;}
.navbar-chocolate ul.navbar-nav>li>a:hover:after, .navbar-chocolate ul.navbar-nav>li>a:focus:after { width: 100%; transition-delay: 0.2s;}

/* адаптивное меню */
.navbar-toggle {border: 2px solid black}
.icon-bar {background-color: black}

/* Форма поиска центрированная по горизонтали и вертикали */

#intro .container-fluid { display:table; padding: 0; height: 500px; }
#intro .row-fluid {	height:100%; display:table-cell; vertical-align: middle;}

/* форма поиска*/
.centering {float:none;	margin:0 auto;}
#intro .row-fluid h1 {color:white; text-align: center; margin-top: -80px; font-family: "Palatino Linotype"; font-weight: bold; width: 50%; font-size: 3em; margin-bottom: 4px}
#intro .row-fluid .navbar-form  {border: 3px solid #B24912; border-radius: 6px; padding: 0; width: 75%;}
#intro .row-fluid .navbar-form .form-group {width: 100%}
#intro .row-fluid .navbar-form .form-group .form-control {background-color: ghostwhite; border: 0; width: 100% !important;}
#intro .row-fluid .navbar-form .btn {background-color: ghostwhite; border: none; border-radius:0; float: right; position: relative; bottom:32px; right: 1px; color: black; }
#intro .row-fluid .navbar-form .btn:hover {background-color: #f2f2f2; color: steelblue}

/* Туры */
#services  { background-color: aliceblue; width: 100%; }
#services .container {padding: 40px 0; min-height: 500px; display: table}

.thumbnail {position: relative}
#services .container .row .thumbnail:hover, #agensy .container .row .thumbnail:hover{border: solid #B24912 1px; background-color:#B24912;	color: #000; }
/* плавная смена фона */
#services .container .row .thumbnail img {opacity: 1; transition: all 1s ease;}
#services .container .row .thumbnail img:hover{opacity: 0.5; transition: all 0.5s ease;}

/*  */
#services .container .row .thumbnail span, #agensy .container .row .thumbnail span {position: absolute; top: 46%; color: white; font-family: "Palatino Linotype"; text-align: center; font-size: x-large; width: 100%; font-weight: bold}

/* Пункт оплаты */
#payment {background: #B24912 url("../img/08.jpg") no-repeat fixed top center;  background-size: 100%;}
#payment .container-fluid {	display:table;	width: 100%; padding: 0;height: 700px; }
#payment .row-fluid { height:100%;	display:table-cell;	vertical-align: bottom;}
#payment .row-fluid h1 {color:white; text-align: center;  font-family: "Palatino Linotype"; font-weight: bold; width: 50%; font-size: 2em}
#payment .row-fluid h2 {color:white; text-align: center; margin-top: 2px; margin-bottom: 10px; font-family: "Palatino Linotype"; font-weight: bold; width: 70%; font-size: 1.2em}
#payment .row-fluid form {background-color:  #B24912; width: 100%; }
#payment .row-fluid form .container {display:table; height: 120px; }
#payment .row-fluid form .container .row {display: table-cell; vertical-align: middle;}
#payment .row-fluid form .container .row div {margin: 5px auto; text-align: center}

#payment .btn.btn-success.btn-md {width: 100%; text-align: center}


/* Дополнительные услуги */
#agensy { display: block; background-color: aliceblue; width: 100%; }
#agensy .container {padding: 40px 0; height: 890px; }
#agensy h1 {font-family: "Palatino Linotype"; font-weight: bold; font-size: 2.5em; text-align: center;
margin-bottom: 15px}

/* плавная смена фона */
#agensy .container .row .thumbnail img {opacity: 1; transition: all 1s ease;}
#agensy .container .row .thumbnail img:hover{opacity: 0.5; transition: all 0.5s ease;}


/* Карусель с отзывами */
#owl-carousel {position: relative; z-index: 2; background-color: aliceblue;}
#owl-carousel .item {display: block; width: auto; color: dimgrey; margin: 15px 0 0 22px; }
#owl-carousel .owl-prev, #owl-carousel .owl-next {display: none}
.item p:first-child {width:300px; text-align: left; display: inline-block; float: left}
.item p:first-child  img {width: 290px; height: 375px}
.item p:nth-child(2) {width: inherit; color: black;  }
.item p:last-child {width: inherit; color: black; margin-right: 40px; font-style: italic; font-family: "Palatino Linotype"; font-size: 1.5em;  }
.item p:last-child a {text-decoration: underline; color: green; display: block; float: right; margin-top: 50px; font-style: italic; background-color: inherit}
.item p:last-child a:hover {background-color: green; color: white; padding: 0 4px; transition: all 0.5s ease;}
.customNavigation a{ display: block; position: relative; z-index: 3;  bottom: 250px;
	user-select: none;
	background: url("../img/customnavigation.png") repeat-x;
	width: 33px; height: 84px;  }
.customNavigation a:hover {background-color: chocolate; cursor: pointer}
.customNavigation a.prev {background-position:left center; float: left;}
.customNavigation a.next {background-position:center right; float: right;}

/* Советы туристам */
#tips {background: aliceblue url("../img/15.jpg") no-repeat fixed top center;  background-size: 100%;  height: 1100px;}
#tips .container { }
#tips .container .col1{margin-top: 300px; display: block;}
#tips .container .row .col-lg-8 {background-color: azure; opacity: 0.7;}
#tips .container .row .col-lg-8 h1 {font-family: "Times New Roman"; font-weight: bold; font-size: 1.8em; text-align: center}
#tips .container .row .col-lg-8 p {font-size: large; font-weight: bold;}
#tips .container .row .col-lg-offset-1 {background-color: #B24912; padding-top: 29px;  height: 244px;}
#tips .container h3 {text-align: center; font-weight: bold; font-family: "Palatino Linotype"; font-size: 2.5em; color: white; margin-bottom: 20px}

#tips .panel {border-radius: 0; border: solid #B24912 2px}
#tips .panel .panel-body strong {display:block; margin: 7px auto; font-family: "Times New Roman"; text-align: center; font-size: large}
#tips .container .panel-body a {text-decoration: underline; color: green; display: block; float: right; margin-top: 30px; font-style: italic}
#tips .container .panel-body a:hover {background-color: green; color: white; padding: 0 4px}

/* О нас */
#about {background-color: aliceblue; display: block; height: 100%}
#about article.panel-body {padding-bottom: 40px}
#about article.panel-body h2 {text-align: center; font-family: "Palatino Linotype"; font-weight: bold}

/* Контакты */
#contact {background: #1B0102 url("../img/17.jpg") no-repeat fixed top center;  background-size: 100% 55%;  height: 720px; }
#contact .container .row{margin-top: 370px;}
#contact .col-xs-12 {background: #1B0102; min-height: 270px}
#contact .has-feedback .control-label {color: white; margin-bottom: 7px; display: block; font-family: "Times New Roman"; text-align: center; }
/* Иконки на соцсети  */
#contact .zocial {padding: 0; width: 220px; height: 14px}
#contact .zocial a {display: inline-block; width: 38px; height: 38px; background-image: url("../img/social.png"); background-repeat: repeat-x; text-decoration: none; text-indent: 9999px; margin: 7px; padding: 0;}
#contact .zocial a:first-child{background-position: 0 0;}
#contact .zocial a:nth-child(2) {background-position: 114px 0;}
#contact .zocial a:nth-child(3) {background-position: 76px 0;}
#contact .zocial a:nth-child(4) {background-position: 38px 0;}
#contact .zocial a:nth-child(5) {background-position: 0 -38px;}
#contact .zocial a:nth-child(6) {background-position: 114px -38px;}
#contact .zocial a:nth-child(7) {background-position: 76px -38px;}
#contact .zocial a:last-of-type {background-position: 38px -38px;}
#contact .zocial a:hover {opacity: 0.5; border: 1px solid chocolate; border-radius: 4px;}

#contact .futer-lin {margin: inherit}
#contact .futer-lin ul {display:inline-block; width: 40%;}
#contact .futer-lin ul li {list-style-type: none;}
#contact .futer-lin ul li a {font-size: medium; font-size: large;
	color: white;
	padding-top: 15px;
	padding-bottom: 8px;
	margin-bottom: 2px;
	font-family: "Times New Roman";}

#contact .futer-lin ul li a:after { display: block; content: ""; height: 1px; width: 0%; background-color: white;
	transition: width .3s ease-in-out; }
#contact .futer-lin ul li a:hover:after, .futer-lin ul li a:focus:after { width: 100%; }

#contact .container .row .col-lg-5 {border-right: 2px solid #290101;}
#contact .container .row .col-lg-3 {border-left: 2px solid #290101;}


/* Адаптивность */
@media screen and (max-width:1169px) {
	.navbar-chocolate ul.navbar-nav {width: 700px}
	.item p:last-child {font-size: 1.4em}
	#contact .col-lg-5, #contact .col-lg-4, #contact .col-lg-3 {padding-top: 7px}
}

@media screen and (max-width:992px) {
	#tips {height: auto}
	.item p:last-child {font-size: 1.2em}
	#tips .container .row .col-lg-8 p {font-size: medium}
	.navbar-chocolate ul.navbar-nav {width: 500px}
	#contact .container {width: auto}
}

@media screen and (max-width:768px) {
	.navbar-chocolate ul.navbar-nav {margin: 0; width: auto}
	.navbar-chocolate ul.navbar-nav>li {background-color: #B24912; border: 2px solid; border-radius: 6px; border-color: white;}
	.navbar-chocolate ul.navbar-nav>li:hover{box-shadow: inset 0 0 0 24px orange; transition: all 1s ease;}
	.navbar-chocolate ul.navbar-nav>li>a  { font-size: large; color: white;
		padding-top:15px; padding-bottom: 8px; margin-bottom: 2px;}
	.navbar-chocolate ul.navbar-nav>li>a:hover, .navbar-chocolate ul.navbar-nav>li>a:focus  {background: transparent; color: black; transition: 1s ease;}
	/* красивыйй эффект при наведении на сылку */
	.navbar-chocolate ul.navbar-nav>li>a:after {display: block; content: ""; height: 2px; width: 0%; background-color: white; transition: width .3s ease-in-out;}
	.navbar-chocolate ul.navbar-nav>li>a:hover:after, .navbar-chocolate ul.navbar-nav>li>a:focus:after { width: 100%; transition-delay: 0.2s;}

	#intro .container-fluid {height: 300px}
	#intro .row-fluid h1 {font-size: x-large}
	#intro .navbar-form .form-group {margin-bottom: 0}
	#payment .container-fluid {height: 400px}
	#payment .row-fluid h1 {width: 80%; font-size: x-large }
	#agensy .container .row h1, #tips .container h3 {font-size: x-large; }

/* исправление *проблем с полосой прокрутки */
#services, #payment, #agensy {overflow: hidden}
}





























